body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    border: 5px solid black;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.gridDiv{
    flex: 1;
    background-color: white;
    
}

#gridSizeInput{

}